| ---
| layout: panelled
| title: Christopher Currie
| class: writing
| ---
//- This newline is here to separate the front-matter from the HTML. Don't remove it.
= '\n'

p Assorted writings that I can still stand to read.

ul.list-group
  | {% for post in site.posts %}
  a.list-group-item(href="{{ post.url }}")
    i.pull-right {{ post.date | date_to_string }}
    | {{ post.title }}
  | {% endfor %}
