doctype html

html
  head
    title {{page.title}} | christophercurrie.github.io
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //link(rel="stylesheet", type="text/css", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="{{site.url}}/styles/site.css")
    link(rel="stylesheet", type="text/css", href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/flatly/bootstrap.min.css")

    body(class="{{page.class}}")
    div#content.container
      .page-header: h1: a(href="{{site.url}}/") Christopher Currie
      .row
        .col-md-2
          ul.nav.nav-pills.nav-stacked
            li: a(href="/writing/") Writing
            li: a(href="/music/") Music
            li: a(href="/code/") Software

        .col-md-10
          | {{content}}
    script(type="text/javascript", source="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
