html {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  background-color: hsl(0,0%,24%);
  height: 100%;
  width: 100%;

  &.home {
    background: url('/img/bw-splash.png') no-repeat right bottom/cover;
  }
}

a, a:hover, a:focus {
  color: white;
  text-decoration: none;
}

.nav li {
  a:hover, a:focus {
    background-color: hsl(192, 2%, 50%);
  }
}

.panel {
  color: black;
  a, a:hover, a:focus {
    color: #207c98;
  }
}